h1 {
    background-color: rgb(79, 38, 131);
    color: rgb(255, 255, 255);
    margin: auto;
}

.name{
    background-color: rgb(79, 38, 131);
    color: rgb(255, 255, 255);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(79, 38, 131);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    color: rgb(79, 38, 131);
  background-color: rgb(255, 255, 255);
}

.active {
    color: rgb(79, 38, 131);
    background-color: rgb(255, 255, 255);
}
.border {
    border-style: solid;
    border-width: 5px;
    color:rgb(79, 38, 131); 
    
}
.rounded-pic {
    display: flex;
    flex: 33.33%
    width:80%;
    margin-left:10%;
    border-radius: 50%;
    border: solid 3px rgb(79, 38, 131);
}
.column {
  float: left;
  width: 40%;
  padding: 50px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
input[type=submit] {
                display:block; 
                background-color: rgb(79, 38, 131);
                color: rgb(255, 255, 255);
                width: 200px;
                height: 50px;
            }
.textbox {
            display:block;
            font-size:18px;
            margin:3px;
            padding:5px;
        }
.borderColor{
    border-style: solid;
    border-color: white;
}